<div class="grid grid-cols-4 my-6 p-16 bg-slate-50 gap-16">
    <div class="flex flex-col gap-3">
        <div class="flex  gap-2">
            <img src="assets/thr.png" class="w-6 border border-red-400 rounded-full">
            <p class="font-bold text-2xl ">Beeanter</p>
        </div>
        <p class="text-gray-400">We serve your shipments quickly and safely. Prudence and Security of carried on our
            couriers.</p>
            <img src="assets/ll.png" class="w-32">

    </div>
    <div class="flex flex-col gap-3 ">
        <p class="font-bold text-2xl">Who we are?</p>
        <div class="flex flex-col gap-2 text-gray-400">
            <p>About Us</p>
            <p>Meet our team</p>
            <p>News & media</p>
            <p>Case Studies</p>
        </div>
    </div>
    <div class="flex flex-col gap-3 ">
        <p class="font-bold text-2xl">What we do?</p>
        <div class="flex flex-col gap-2 text-gray-400">
            <p>Warehousing</p>
            <p>Shipping</p>
            <p>Tracking</p>
        </div>
    </div>
    <div class="flex flex-col gap-3 ">
        <p class="font-bold text-2xl">Quick action</p>
        <div class="flex flex-col gap-2 text-gray-400">
            <p class="text-orange-400">Order now!</p>
            <p>Track & trace</p>
            <p>Help & FAQ</p>
            <p>Global agents</p>
        </div>
    </div>

</div>