    <div class="grid grid-cols-2 bg-customgreen ">
        <div class="flex flex-col gap-10 p-10">
            <p class="text-white font-bold text-5xl">The powerfull shipping app in the world</p>
            <p class="text-gray-400">We serve your shipments quickly and safely. Prudence and Security of carried on our courieres will be truly maintained untill the destination. </p>
            <p><span class="text-white bg-orange-400 rounded-md p-2">Order Now!</span> <span class="text-white mx-8">Enterprise  ---></span></p>
        </div>
        <img src="assets/delb.png" class="w-96 ">
    </div>   

   
