<div class="grid grid-cols-3 p-6 my-5 ">

    <div class="flex flex-col items-start ">
        <div class="border w-44 p-4">
            <img src="assets/map.svg" class="w-6 bg-orange-100 my-2 rounded-full">
            <p class="font-bold">Real-time tracking</p>
            <p class="text-gray-400">We will use all our strength to shorten the time it takes</p>
        </div>
        <div class="flex flex-col items-start mt-10">
            <div class="border w-44 p-4">
                <img src="assets/map.svg" class="w-6 bg-orange-100  my-2 rounded-full ">
                <p class="font-bold">Real-time tracking</p>
                <p class="text-gray-400">We will use all our strength to shorten the time it takes</p>
            </div>
        </div>

    </div>
    <div class="flex flex-col items-start">
        <div class="border w-44 p-4">
            <img src="assets/map.svg" class="w-6 bg-orange-100  my-2 rounded-full ">
            <p class="font-bold">Real-time tracking</p>
            <p class="text-gray-400">We will use all our strength to shorten the time it takes</p>
        </div>
        <div class="flex flex-col items-start mt-10">
            <div class="border w-44 p-4">
                <img src="assets/map.svg" class="w-6 bg-orange-100  my-2 rounded-full ">
                <p class="font-bold">Real-time tracking</p>
                <p class="text-gray-400">We will use all our strength to shorten the time it takes</p>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-5">
        <p class="font-bold text-5xl">Trust is very important for <span class="text-orange-300">beeanter</span>. The
            core features we have</p>
        <p class="text-gray-400 mt-5">Ensure facilities we provide to maintain the feasiility of shipping it safe and fast
        </p>
        <div class="grid grid-cols-3 mt-5">
            <div>
                <p class="font-bold text-4xl">15M <span class="text-orange-300">+</span></p>
                <p class="text-gray-400">More Users</p>
            </div>
            <div>
                <p class="font-bold text-4xl">100 <span class="text-orange-300">+</span></p>
                <p class="text-gray-400">Delviery Cars</p>
            </div>
            <div>
                <p class="font-bold text-4xl"> 20<span class="text-orange-300">+</span></p>
                <p class="text-gray-400">Intercity Trucks</p>
            </div>
        </div>

    </div>

</div>