<div class="grid grid-cols-3 my-5">
    <div>
        <img src="assets/gal.png">
    </div>
    <div class="flex flex-col justify-center text-center gap-5">
        <p class="text-3xl font-bold">See a gallery of what we do at Beeanter and share it to all</p>
        <div class="text-gray-400 text-center">
            <p>Our experience of working is 20 years and of course that makes us work more professioannly and be careful about the shipments made</p>
        </div>
        <div class="text-center bg-orange-400 text-white mx-auto p-3 rounded-lg">
            <p>View more</p>
        </div>
    </div>
    <div class="mx-auto">
        <img src="assets/gar.png">
    </div>
</div>