<div class="grid grid-cols-2 p-6">
    <div class="flex flex-col gap-10">
        <p class="font-bold text-4xl">Our core feature on beeanter</p>
        <p class="text-gray-400">We offer everything you need for the delivery of your goods, the products sent can be viewed live streaming, because we use cameras on our helmets</p>
        <p class="bg-orange-400 text-white rounded-lg  w-24 px-2 py-2">View more</p>
    </div>
    <div class="flex flex-col gap-3 items-center">
        <img src="assets/box.png" class="w-48 rounded-lg shadow-lg ">
        <p class="font-bold">Check Receipts</p>
        <p class="text-gray-400">check from anywhere</p>

    </div>



</div>